# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE Files
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Database Files
*.db

# Temporary Files
*.tmp